[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/DeyanPeshev
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DeyanPeshev
	label-Verified = -1..+1 group user/DeyanPeshev
	push = group user/DeyanPeshev
	read = group user/DeyanPeshev
	rebase = group user/DeyanPeshev
	removeReviewer = group user/DeyanPeshev
	submit = group user/DeyanPeshev
[access "refs/heads/*"]
	create = group user/DeyanPeshev
	push = +force group user/DeyanPeshev
	pushMerge = group user/DeyanPeshev
	read = group user/DeyanPeshev
[access "refs/tags/*"]
	push = group user/DeyanPeshev
	push = +force group user/DeyanPeshev
